<header class="flex justify-between h-20 w-full bg-slate-500 items-center px-4">
    <h1 class="text-sm ">Introducción a la Regleta y el Punzón en Braille</h1>
    <button class="cursor-pointer">
        <img src="/braille-learning/www/Public/img/icon-menu.png" alt="" srcset="">
    </button>
</header>
<main class="p-4">
    <div class="mt-4">
        <div class="bg-white shadow-md rounded-lg p-4">
            <p class="text-base text-gray-800 leading-relaxed">
                El posicionamiento de la regleta y el punzón para escribir en Braille es crucial para garantizar la precisión y la legibilidad del texto táctil. Aquí se te explica cómo funciona:
            </p>
            <p class="text-base text-gray-800 leading-relaxed mt-2">

            </p>
        </div>
    </div>
    <div class="items-center flex justify-center align-center h-100">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hGym39kTUBw" frameborder="0"></iframe>
    </div>
</main>

<div class="relative h-72">
    <button class="back-button absolute bottom-4 left-4 bg-slate-100 text-cyan-800 rounded-xl px-4 py-2">Regresar</button>
</div>

<script>
    document.querySelector(".back-button").addEventListener('click', function(){
        loadPartialView('regleta-view',document.querySelector('.init'), false);
    })
</script>