
<div class="flex justify-between h-20 w-full bg-slate-500 items-center px-4">
    <h1 id="topbar-title" class="font-mono text-nowrap text-xl">Regleta y punzon</h1>
    <button class="cursor-pointer">
        <img src="/braille-learning/www/Public/img/icon-menu.png" alt="" srcset="">
    </button>
</div>
<div class="flex flex-col mt-4 ">
    <button class="introduction-view m-5 rounded-md h-10 bg-slate-100 text-cyan-800 flex justify-between items-center px-4 font-mono"> Introduccion a la regleta y el punzon
    
    <button class="posicionamiento-view m-5 rounded-md h-10 bg-slate-100 text-cyan-800 flex justify-between items-center px-4 font-mono"> Posicionamiento de la regleta y el punzon
       
    <button class="orientacion-view m-5 rounded-md h-10 bg-slate-100 text-cyan-800 flex justify-between items-center px-4 font-mono"> Orientacion tactil

    <button class="practica-view m-5 rounded-md h-10 bg-slate-100 text-cyan-800 flex justify-between items-center px-4 font-mono"> Ejercicios de practica
        
</div>

<div class="relative h-72">
    <button class="back-button absolute bottom-4 left-4 bg-slate-100 text-cyan-800 rounded-xl px-4 py-2">Regresar</button>
</div>


<script>
    document.querySelector('.introduction-view').addEventListener('click', function(){
        loadPartialView('introduccion',document.querySelector('.init'), false);
    })

    document.querySelector('.posicionamiento-view').addEventListener('click', function(){
        loadPartialView('posicionamiento',document.querySelector('.init'), false);
    })

    document.querySelector('.practica-view').addEventListener('click', function(){
        loadPartialView('ejercicios',document.querySelector('.init'), false);
    })
    
    document.querySelector('.orientacion-view').addEventListener('click', function(){
        loadPartialView('orientacion',document.querySelector('.init'), false);
    })

// Regresar a homepage
    document.querySelector(".back-button").addEventListener('click', function(){
        loadPartialView('topnav-bar',document.querySelector('.init'), false);
    })
</script>